langchain
langgraph
python-dotenv
langchain[google-genai]
fastapi
uvicorn[standard]
pymongo
qdrant-client
pymupdf
langchain_huggingface
sentence-transformers
passlib[bcrypt]==1.7.4
PyJWT
bcrypt==4.0.1